<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="description" content="Chat PETは、沢山の飼い主と自慢の我が子を共有できるペットを愛でるサイトです。"/>
    <title>ログイン画面</title>
    <link rel="icon" href="../../static/img/ロゴアイコン.jpg" type="image/vnd.microsoft.icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="../../static/css/signup.css">

</head>
<body>
    <div class="wrapper">

        <header class="header">
            <img src="../../static/img/ロゴアイコン.jpg" alt="アイコン" class="header_icon">
            <h1>Chat PET</h1>
        </header>

        <main class="main">
            <form action="{{ url_for('signup')}}" method="POST">
                <section class="section_id">

                    {% with messages = get_flashed_massages() %}
                        {% if massages %}
                        <ul>
                            {% for message in massages %}
                            <li class="{{ category }}">{{message}}</l>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}

                    <style>
                        .empty {
                            color: red;
                        }
                        .error {
                            color: red;
                        }
                        .error_address {
                            color: red;
                        }
                    </style>

                    <p class="id_text"></p>ID（メールアドレス）：
                    <p><input class="email" type="text" name="email"/></p>
                </section>

                <section  class="section_password">
                    <p class="password_text">パスワード：</p>
                    <p><input  class="password" type="password" name="password"/></p>
                </section>

                <div class="button">
                    <p><input type="submit" value="新規登録" id="button_signup"></p>
                    <p><input type="submit" src="top.html" value="戻る" id="button_back"></p>
                </div>
            </form>
        </main>

        <footer class="footer">
            <div></div>
        </footer>

    </div>
</body>
</html>