<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="./index.css">
</head>




<body>
    
    <header>
        <h1>chat PET</h1>
        <img src="../static/img/プロフィール編集.jpg"  width="40" height="40">
        <img src="../static/img/ログアウト.jpg"  width="40" height="40">
        
        </header>

 <img src="../static/img/inu.jpg"  width="64" height="64">
 <img src="../static/img/neko.jpg"  width="64" height="64">
 <img src="../static/img/tori.jpg"  width="64" height="64">
 <img src="../static/img/sakana.png"  width="64" height="64">
<button>
    トークルームへ
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>

<button>
    トークルームへ
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>

<button>
    トークルームへ
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>

<button>
    トークルームへ
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>   
</html>
</body>



<footer>

</footer>



<footer>

</footer>
